*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #141922;
}

.debug{
  border: 1px solid white;
}

h1,h2,h3,h4,h5,h6{
  font-weight:bold;
}

/* FINE ASIDE  */
main{
  width: 100vw;
  height: calc(100vh - 90px);
}


/* FINE MAIN  */

.aside{
  height:calc(100vh - 90px);
  width: 230px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 5px 0px;
  justify-content: space-between;
  
}

.top{
  height: 50%;
}

.down{
  padding-left: 10px;
  height: 40px;
  font-size: 13px;
}


.logo{
  width: 75%;
  margin-bottom: 20px;
}

.block{
  display: none;
}

.effect {
  margin-bottom: 10px;
  border-left: 2px solid transparent ;
}

.effect .icon{
  width: 20%;
  vertical-align: middle;
}

.scr{
  color: lightgray;
  font-size: 1.1rem;
  cursor: pointer;
  

}
.effect a{
  text-decoration: none;
}

.icon{
  filter: invert(50%);
  padding-left: 5px;

}

.effect:hover .icon{
  filter: invert(0%);
}

.effect:hover .scr{
  color: #ffffff;
}



.scr:hover{
  color: #ffffff;
}

.aside h3{
  color: lightgray;
  font-size: 1.2rem;
  margin-bottom: 15px;
  cursor: pointer;
  padding-left: 5px;
}

.aside h3:hover{
  color: #ffffff;

}

.center{
  padding-left: 5px;
}

.center:hover .piu,span {
  color: #ffffff;
}

.center .piu{
  font-size: 2.3rem;
  color: darkgray;
}


.plus{
  height: calc(100vh - 440px);
  overflow-y: auto;
  margin-top: 10px;
  padding-left: 5px;
}

.plus li:hover{
  color: #ffffff;
}

.active-le{
 border-left: 2px solid greenyellow;
}

.plus i{
  font-size: 30px;
  color: lightgray;
  vertical-align: middle;
  cursor: pointer;

}

.plus li{
  margin-bottom: 10px;
  color: lightgray;
  font-size: 1.2rem;
  cursor: pointer;
}



.end{
  border-bottom: 1px solid #ffffff;
  color: lightgray;
  cursor: pointer;

}

.end i{
  font-size: 19px;
}

.end:hover i{
  color: white;
}
.end:hover span{
  color: white;
}

.after-end:hover i{
  color: white;
}

.after-end:hover span{
  color: white;
}

.user{
  font-size: 23px;
  color: lightgray;
}

.after-end{
  font-size: 13px;
  color: lightgray;
  margin-bottom: 10px;
}

.after-end span,i{
font-size: 16px;
color: lightgray;
cursor: pointer;
}

/* FINE ASIDE  */

header{
  width: calc(100% - 230px);
  height: 90px;
  background-color:rgba(0, 0,0, 0.2);
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 999;

}

header a{
  display: inline-block;
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(8, 10, 18, 0.5);
  border-radius: 30px;
  border: 1px solid #ffffff;
  margin-right: 20px;
  z-index: 999;
}

header a:hover{
  font-size: 1.1rem;
  padding: 11px 31px;
}



/* FINE HEADER  */

.container{
  display: flex;
  flex-wrap: wrap;
  z-index: 1;

}


.content{
  width: calc(100% - 230px);
  height: calc(100vh - 90px );
  padding: 10px;
  overflow-y: auto;

}

.in-nav{
    margin-top: 90px;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.1rem;
  
}


 .in-nav ul li a:hover{
  color: #ffffff;
}

  .active::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: greenyellow;
    margin: 2px auto;
  }



.in-nav ul li a{
  text-decoration: none;
  margin: 0px 8px;
  color: #7A7B80;
  width: calc(100% - 50%);

}
/* FINE NAV BAR  */



.items h2{
  margin-top: 20px;
  font-size: 1.7rem;
  color: #ffffff;
  margin-bottom: 15px;
}

.boxs{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.co-img{
  width:calc(100% / 6 );
  padding: 5px;
  aspect-ratio: 1/1;
  min-width: 125px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;

}

.co-img h3{
color: #ffffff;
}

.box{
  width: 100%;
  position: relative;
}

.box img{
  width: 100%;
  height: 100%;
}

.play{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0%; 
  left: 0%;
}

.play i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
}

.play{
  display: none;
}

.co-img:hover .play{
  display: block;
}


.items p{
  color: #7A7B80;
  font-size: 0.8rem;
  margin-bottom: 25px;
  margin-top: 5px;
}

.box-down{
  display: flex;
  flex-wrap: wrap;
}

.circles{
  display: flex;
  flex-wrap: wrap;
}

.circle{
  border-radius: 50%;
}

.circles .circle .play{
  border-radius: 50%;
}

/* FINE DISCHI  */


footer{
  width: 100%;
  height: 90px;
  background-color: #282828;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}



.foot.left{
  display: flex;
  width: 20%
}

.foot.center{
  width: 40%;
  margin: 0 20px;
}

.foot.right{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.con-left{
  display: flex;
  width: 60%;
  align-items: center;
  min-width: 145px;
}

.left{
  display: flex;

}


.con-left img{
  height: 55%;
  cursor: pointer;
  padding: 0px 10px;
  vertical-align: middle;
}

.con{
 line-height: 17px;
 margin-bottom: 13px;
}

.con h4{
  font-size: bold;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
  
}

.con p{
  font-size: 0.8rem;
  color: darkgray;
  cursor: pointer;
}

.con-right i{
  margin-bottom: 5px;
  color: darkgray;
  margin-right: 5px;
}

.con-right i:hover{
color: #ffffff;
}


.con-right{
  width: 30px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-shrink: 0;

}

.foot.center{
  padding: 0;
  display: flex;
  flex-direction: column;
}


.foot-top{
height: 50%;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.foot-top i:nth-child(3){
  font-size: 40px;
}

.foot-top i{
  font-size: 21px;
  color: darkgray;
}

.foot-top i:hover{
  color: white;
}

.foot-down{
display: flex;
justify-content: center;
align-items: center;
justify-content: space-between;
}

.time{
  color: #ffffff;
  font-size: 0.8rem;
}

.foot.center .video-in{
  position: relative;
}

.foot.center .video-in i{
  position: absolute;
  top: 2px;
  left: 98%;
  transform: translate(-50%, -50%);
}


.video-out{
  height: 5px;
  width: 75%;
  background-color:darkgray;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}


 .video-in{
  height: 100%;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.video-in i{
  position: absolute;
  font-size: 9px;
  top: 2px;
  left: 91%;
  transform: translate(-50%, -50%);

}

.video-out:hover .video-in{
  background-color: greenyellow;
}


.video-out:hover i{
  display: block;
  
}

/* FINE CENTRO FOOTER  */


.foot.right i{
  margin: 0 5px;
  color: darkgray;
}

.foot.right .video-out{
  width: 80%;
  margin: 0 10px;
}
.foot.right .video-out i{
  margin-right: 5px;

}

.foot.right i:nth-child(3){
  font-size: 22px;
}

.foot.right  i:hover{
color: #ffffff;

}

/* FINE DESTRA FOOTER  */

/* ***************************************************/
                 /* RESPONSIVE */
/* ***************************************************/


@media screen and (max-width: 780px){

  header a{
    padding: 7px 10px; 
    text-align: center;
    font-size: 0.7rem;

  }

  header a:hover{
    padding: 12px 15px; 
    font-size: 0.7rem;

  }

  .in-nav{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
  }
  

  .content{
     height: calc(100vh - 180px );
    overflow-y: auto;
  }

  .items{
    margin-top: 20px;
    
  }

  footer{
    display: flex;
  }

  .co-img{
    width:calc(100% / 2 - 10px);
    margin-bottom: 35px;}

    .foot.left{
      width: 20%;
      margin-right: 65px;
    }

    .foot.center{
      width: 40%;
      margin-left: 30px;

    }


    .foot.right{
      width: 25%;
    }

    

}

@media screen and (max-width: 600px){

  header{
    width: calc(100% - 50px);
    height: 90px;}

  header a{
    padding: 7px 14px; 
    text-align: center;
    font-size: 0.7rem;
  }

  header a:hover{
    padding: 10px 15px; 

  }

  .content{
   width: calc(100% - 50px);
  }
  

  .aside{
    width: 50px;
    display: flex;
    text-align: center;
  }


  .aside .active-le{
    display: none;
  }

  .in-nav{
    height: 80px;
  }

  .in-nav a{
    font-size: 1.1rem;
    margin: 0px 3;
  }

  .logo {display: none;}
 
  .scr{display: none;}

  .effect .icon{
    width: 90%;
    text-align: center;
  }
  
  .aside  h3{
    display: none;
  }

  .effect:active{
    border-left: 1px solid transparent;
  }

  .aside i{
    display: none;
  }

  .none {
    display: none;
  }

  .aside .end i{
    display: block;
    font-size: 22px;
  }

   .end{
    border-bottom: black;
    display: block;
  }

  .after-end i{
    font-size: 22px;
    display: block;
    margin-top: 5px;
  }

  .plus{display: none;}

  .down{
    margin-bottom: 10px;
  }

   .block{
    display: inline-block;
    width: 80%;
    margin-bottom: 5px;
    filter: invert(50%);
    margin: 10px auto;
    padding-left: 5px;
    }

    .block:hover{
      filter: invert(0%);
    }
 
   .co-img{
      width:calc(100% / 2);
      padding: 5px;
      margin-bottom: 35px;
}

    .foot.left{
      width: 20%;
      display: flex;
      justify-content: space-between;
    }

    .foot.left img{
      width: 20;
    }

    .foot.left i{
      font-size: 2.5vw;
    }


    .con-right{
      flex-direction: column;
      justify-content: center;
    }

    .foot.center{
      width: 40%;
      margin-left: 10px;
    }

    .foot-top i{
      font-size: 15px;
      color: darkgray;
      margin: 0;
    }

    .foot-top i:nth-child(3){
      font-size: 20px;
    }

    .foot-top{
      height: 50%;
      width: 70%;
      margin: auto;

    }

    .foot.center{
      align-items: center;
    }

    .foot-down{
      height: 50%;
      width:  70%;
      justify-content: space-between;
      align-items:center;
      justify-content: center;
    }
   
    .video-out{
      width: 70%;
      vertical-align: middle;
      height: 4px;
    }

    .foot.center .foot-down i{
      font-size: 1rem;
    }

    .time{
      font-size: 2vw;
      margin: 0 2px;

    }
  
    .video-in{
      width: 60%;
      
    }

   .foot.center .video-in i{
      font-size: 8px;
    }

    .foot.right .video-in i{
      font-size: 8px;
    }

    .foot.right{
      width: 30%;
      height: 100%;
    }

    .foot.right i{
      font-size: 2.3vw;
    }

    .foot.right i:nth-child(3){
      font-size: 15px;
    }

}


